# PROJECT INFO

## Project Name
SLUG=site-name

## Local development domain
DOMAIN=dev.sitename.com

## Wordpress Version
WP_VERSION=latest

## Active theme
ACTIVE_THEME=site-name

## DB Prefix
DB_PREFIX=wp_



# IF YOU WANT TO START FROM SCRATCH, FILL THE INFO BELOW

## Site Name
NAME="Site Name"

## Site tagline
DESC="Site tagline"



# STARTER TEMPLATE INFO

## Function prefixes (sitename_)
PREFIX=sitename



# ADMIN INFO

## Admin username
DEVELOPER_USERNAME=Username

## Admin first name
DEVELOPER_NAME=Name

## Admin last name
DEVELOPER_LAST_NAME=Lastname

## Admin email
DEVELOPER_EMAIL=name@company.com

## Admin URL
DEVELOPER_URL=www.company.com



# SITE SETTINGS

## Site timezone
TIMEZONE="America/Los_Angeles"

## Posts permalinks structure
POST_PERMALINK="/%category%/%postname%/"



# PLUGINS THAT NEEDS TO BE INSTALLED
DEFAULT_PLUGINS="custom-codes custom-post-type-ui duplicator easy-theme-and-plugin-upgrades responsivity simplest-under-construction admin-menu-restriction contact-form-7 aryo-activity-log better-search-replace wp-mail-logging google-analytics-for-wordpress fast-velocity-minify redirection wordpress-seo"


# Don't touch this if you don't know what you are doing!
IP=127.0.0.1
